<!--
  This file serves as an example of how you can create reusable components using Twelvety. Use the
  'stylesheet' paired shortcode for your Sass and the 'javascript' paired shortcode for your
  JavaScript. You can include components as many times as you want in templates; don't worry, the
  CSS and JS won't be repeated in the output.

  Feel free to delete this header.html file, it's just an example!
-->

<header class="header">
  <nav>
    <a href='/'>
    <div class='title'>me <span class='red'>&</span> my bad self</div>
    </a>
    <div class='subtitle content'>Miscellany of <span class='red'>Jeffery Bennett</span> OF <span
        class='red'>Minnetonka, MN</span></div>
    <ul class='toc'>
      <li><a href="/about">About</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/work">Work</a></li>
      <li><a href="/media">Media</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>

{% stylesheet 'scss' %}
  @import 'global';

  
{% endstylesheet %}
