@import "mixins";

.box {
  text-decoration: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  @include med {
    // min-height: 225px;
  }
  transform-style: preserve-3d;

  div.fg,
  div.shield {
    @include absfill();
    transform-style: preserve-3d;
  }

  div.fg {
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;

    div.placard {
      pointer-events: none;
      transform: translateZ(8px);
      transform-style: preserve-3d;
      transition: box-shadow 0.3s ease-out, transform 0.3s ease-out, background 0.3s ease-out;
      padding: 5px 7px;
      transform-origin: 50% 50%;
      background: var(--placard-bg);
      min-width: 8%;
      max-width: 60%;
      box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0);
      h1,
      h2 {
        font-family: "Chronicle Display A", "Chronicle Display B";
      }

      h1 {
        font-weight: 400;
        margin-top:0;
        margin-bottom:0;
        font-size: 1em;
        @include med {
          font-size: 1.25em;
        }
      }

      h2,
      h3 {
        margin: 0;
        transform-style: preserve-3d;
        transition: color 0.3s ease-out;
      }
      h2 {
        font-weight: 400;
        font-family: "Chronicle Display A", "Chronicle Display B";
        font-size: 1em;
        @include med {
          font-size: 1.2em; // Shouldn't obscure the image.
        }
      }

      h3 {
        font-family: "Ringside Condensed A", "Ringside Condensed B";
        color: #777;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-weight: 400;
        font-size: 0.7em;
      }
    }
  }

  div.shield {
    pointer-events: none;
    z-index: 2;
    opacity: 0.15;
    transition: opacity 0.3s ease-out;
  }

  div.bg {
    transition: box-shadow 0.3s ease-out, transform 0.3s ease-out;
    font-family: "SF-Pro-Display", Roboto, Sans-Serif;
    transform-style: preserve-3d;
  }

  picture {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img,
    source {
      object-fit: cover;
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      transition: box-shadow 0.3s ease-out, transform 0.3s ease-out, filter 0.3s ease-out;
    }
  }

  &--text {
    pointer-events: default;
    flex-direction: column;
    color: var(--content);
    background: none;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    padding: var(--gutter) var(--gutter) 0;

    @include med {
      padding:0;
    }

    div.fg {
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
    }

    p {
      font-kerning: auto;
      font-language-override: normal;
      font-optical-sizing: auto;
      font-size: 1.1em;
      letter-spacing: normal;
      line-height: 1.3em;
      margin-bottom:20px;
      overflow-wrap: break-word;
      margin-top: 0;
      padding:0;
      list-style: none;
    }
  }

  &--masthead {
    pointer-events: none;

    div.fg {
      justify-content: flex-end !important;
      align-items: center !important;

      div.placard {
        min-width: 20%;
        max-width: 30%;
        margin: 0 14%;
        @include med {
          min-width: 15%;
          max-width: 25%;
          margin: 0 2%;
        }
      }
    }
  }

  &--masthead, &--image {
    .bg {
        @include absfill();
    }
  }

  &:hover {
    div.fg {
      div.placard {
        box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.09);
      }
    }
    div.shield {
      opacity: 0;
    }
  }
}
