.grid--details {
    .box {
        min-height: 400px;
        a {
            color: $accent;
            text-decoration: none !important;
            border-bottom: 1px solid $accent;
        }
        &--masthead {
            .fg .placard h1 {
                color: $accent !important;
            }
        }
        div.fg {
            div.placard {
                transform: translateZ(3px) !important;
                box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.09);
                h2 {
                    color: $accent !important;
                }
            }
        }
        &--masthead, &--image {
            .bg {
                @include absfill();
            }
        }
        &--masthead {
            grid-area: 1/1/3/5;
        }
        &--text {
            grid-area: 3/2/4/4;
        }

        &--image {
            &:nth-child(even) {
                @include placard-right()  
            }
            &:nth-child(odd) {
                @include placard-left();
            }
        }
    }

    &.grid--attribution {
        .box {
            &--text:nth-child(3) {
                @include placard-right();
                grid-area: 4/2/5/4;
            }
            &--image {
                &:nth-child(even) {
                    @include placard-left()  
                }
                &:nth-child(odd) {
                    @include placard-right();
                }
            }
        }
    }
}

@mixin half-text-height {
    .box--masthead .box--image {
        grid-row: span 2;
    }
}
