@import url(https://cloud.typography.com/6984932/6762612/css/fonts.css);
@import "nav";
@import "mixins";

:root {
  --red: #cc0000;
  --background: #f4f2f9;
  --content: #2a2826;
  --gutter: 18px;
  --placard-bg: #fff;
  --grid-width: 1000px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111122;
    --content: #f4f2f9;
    --red: #ff0000;
    --placard-bg: #f4f2f9;
  }
}

html {
  padding: 0;
  margin: 0;
  background-color: var(--background);
}

a {
  transition: border 0.3s ease-out;
}

* {
  -moz-osx-font-smoothing: grayscale;
}

.red {
  color: var(--red);
}

.content {
  color: var(--content);
}

.mb-5 {
  margin-bottom:8px;
}


ul {
    font-kerning: auto;
    font-language-override: normal;
    font-optical-sizing: auto;
    font-size: 1.1em;
    letter-spacing: normal;
    line-height: 1.3em;
    margin-bottom:20px;
    overflow-wrap: break-word;
    margin-top: 0;
    padding:0;
    list-style: none;
  }

#perspective-root {
  transform-style: preserve-3d;
  perspective: 40px;
  transform-origin: 50% 50%;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

#root {
  max-width: var(--grid-width);
  margin: 10px auto;
  min-height: 100vh;
  transform-style: preserve-3d;
  padding-bottom:25px;
}

.grid {

  display: flex;
  flex-direction:column;
  transform-style: preserve-3d;
  grid-auto-flow: dense;
  grid-template-rows: none;
  grid-auto-rows: minmax(100px, auto);

  @include med {
    display: grid;
    grid-gap: var(--gutter);
    grid-template-columns: repeat(2, 1fr);
  }

  @include lg {
    grid-template-columns: repeat(4, 1fr);
  }
}

@import "box";
@import "footer";