@import "mixins";

main.grid.grid--home {
  .box {
    cursor: pointer;
    grid-column-start: auto;
    grid-row-start: auto;
    @include sized();
    min-height: 250px;
    margin-bottom: var(--gutter);
    @include med {
      margin-bottom: 0;
    }

    .bg {
      @include absfill();
    }

    // For items where we want to adjust the bg pxositioning on an id-basis.
    &--evb {
      .bg {
        picture {
          object-position: top center;
        }
      }
    }

    &--capturer {
      @include sized(2, 1);
      .bg {
        picture {
          object-position: center left;
        }
      }
    }

    &--spelly {
      @include sized(2, 1);
    }

    &--text-a-target {
      @include sized(2, 2);
    }
    &--studio-connect {
      @include sized(2, 1);
    }

    // &--bra-telemetry {
    //   @include sized(2, 1);
    // }

    &--doritos {
      @include sized(2, 1);
    }

    &--select-stylist {
      @include sized(2, 1);
    }

    &--air-jordan-30 {
      @include sized(1, 1);
    }

    &--evb {
      @include sized(2, 1);
    }

    &--paint-by-numbers {
      @include sized(2, 1);
    }
    &--ignite {
      @include sized(1, 2);
    }

    &--faces {
      @include sized(2, 1);
    }

    &--countdown {
      @include sized(2, 2);
    }

    &--episogood {
      @include sized(2, 2);
    }

    &--tshirt-machine {
      @include sized(1, 1);
    }

    &--for-fern {
      @include sized(1, 1);
    }

    &--eye {
      @include sized(1, 1);
    }

    &--olddog {
      @include sized(2, 1);
      img {
        object-position: top left;
      }
    }

    @include section("olddog", #ff0000);
    @include section("disrupt", #00bf5c);
    @include section("doritos", #fe3700);
    @include section("new-wheel", #9e191b);
    @include section("doll-creator", #d9ae87);
    @include section("studio-connect", #e81131);
    @include section("live-in-levis", #4259a1);
    @include section("minnecrapolis", #8d5e28);
    @include section("air-jordan-30", #303646);
    @include section("text-a-target", #d42134);
    @include section("bra-telemetry", #ef4d78);
    @include section("faces", #1c1c1e);
    @include section("betamaxmas", #4b1404);
    @include section("episogood", #d42134);
    @include section("pins", #ed6b5d);
    @include section("social-cereal", #0066bc);
    @include section("paint-by-numbers", #ebcd57);
    @include section("sxsw-2008", #d42134);
    @include section("sxsw-2006", #d42134);
    @include section("evb", #6c265a);
    @include section("ignite", #eb4200);
    @include section("countdown", #008600);
    @include section("killing-me-softly", #b14407);
    @include section("point-of-view", #000000);
    @include section("for-fern", #cb989d);
    @include section("tshirt-machine", #583121);
    @include section("todays-bestest", #00cae7);
    @include section("select-stylist", #ff5857);
    @include section("spelly", #ff0066);
    @include section("oops-all-pangrams", #07c0f7);
    @include section("eye", #4259a1);
    @include section("capturer", #555555);
  }
}
