<main class="grid grid--{{page.fileSlug}}">
    <div class="box box--masthead">
        <div class="fg">
            <div class="placard">
                <h3>{{sublabel}}</h3>
                <h2>{{label}}</h2>
            </div>
        </div>
        <div class="bg">
            {% set mastheadPath = page.fileSlug + "/masthead.jpg" %}
            {% picture mastheadPath, 'Masthead', '90vw', 'eager' %}
        </div>
    </div>
    <!-- Page content -->

    <div class='box box--text'>
        <div class='fg'>
            <div class="placard">
                Description
            </div>
        </div>
        <div class='bg'>
            {% block description %}{% endblock %}
        </div>
    </div>
</main>