---
label: Bra Telemetry
sublabel: Target
---

{% block description %}
    <p>
          After hearing that bras were being designed by interviewing women asking about their fit, I proposed that we bring telemetry into
          the mix.
        </p>
        <p>
          We added an array of wireless gyroscopes & accelerometers to the outside of bras being tested, which painted a much clearer
          picture of the bra&rsquo;s fit.
        </p>
{% endblock %}