---
label: Bra Telemetry
sublabel: Target
---

{% extends '../_layouts/work-header.njk' %}

{% block description %}
    <p>
          After hearing that bras were being designed by interviewing women asking about their fit, I proposed that we bring telemetry into
          the mix.
        </p>
        <p>
          We added an array of wireless gyroscopes & accelerometers to the outside of bras being tested, which painted a much clearer
          picture of the bra&rsquo;s fit.
        </p>
{% endblock %}

{% stylesheet 'scss' %}
  $accent: #ef4d78;
  @import 'global';
  @import 'work';
  .box--image {
    &:nth-of-type(3) {
      grid-area: 4/1/6/3;
    }

    &:nth-of-type(4) {
      grid-area: 4/3/6/5;
    }

    &:nth-of-type(5) {
      grid-area: 6/2/8/4;
    }
  }
{% endstylesheet %}