---
label: Disrupt 
sublabel: TechCrunch
hasAttribution: true
---

{% extends '../_layouts/details.njk' %}

{% block description %}
    <p>Since 2011, I&rsquo;ve been part of the world-famous TechCrunch Disrupt.</p>
    <p>My responsibilities involved writing articles, organizing & emceeing the annual Hackathon.</p>
    <p>Participating in the organization of Disrupt has solidified the notion that excellent experiences require a tremendous amount of effort.</p>
{% endblock %}

{% block attribution %}
  <p>Through my work with TechCrunch, I've had the honor of working with some great people, including:</p>
  <ul>
    <li class='accent'>Safa Aliabadi</li>
    <li class='accent'>Joey Hinson</li>
    <li class='accent'>Leslie Hitchcock</li>
    <li class='accent'>Marily Nika</li>
    <li class='accent'>Richard Murby</li>
    <li class='accent'>Reshma Khilnani</li>
  </ul>
{% endblock %}


{% stylesheet 'scss' %}
  $accent: #00bf5c;
  @import 'global';
  @import 'mixins';
  @import 'details';

  .grid {
    .box.box--image {
      min-height: 400px;
    }
  }
  
{% endstylesheet %}