---
label: Disrupt 
sublabel: TechCrunch
---

{% block description %}
     <p>Since 2011, I&rsquo;ve been helping run of the world-famous TechCrunch Disrupt.</p>
        <p>My responsibilities involved organizing & emceeing the annual Hackathon.</p>
{% endblock %}