---
label: Doll Creator
sublabel: Manhattan Toy Co.
---

{% extends '../_layouts/details.njk' %}

{% block description %}
     <p>I helped the Manhattan Toy Co. bring their Wee Baby Stella customized doll experience to life.</p>
        <p>The result was a fully-responsive experience allowed for dolls that matched its owners&rsquo; needs</p>
        <p>
          <a href="https://www.manhattantoy.com/products/create-your-own-wee-baby-stella-doll?variant=12606471077973">View experience</a>
        </p>
{% endblock %}

{% stylesheet 'scss' %}
  $accent: #d9ae87;
  @import 'global';
  @import 'work';

  .box {
    min-height:300px;
  }
  div.box--image {
    &:nth-of-type(3) {
      grid-area: 4/2/5/3;
    }
    &:nth-of-type(4) {
      grid-area: 4/3/5/4;
    }
    &:nth-of-type(5) {
      grid-area: 5/2/7/4;
    }
  }
{% endstylesheet %}