---
label: Doll Creator
sublabel: Manhattan Toy Co.
---

{% extends '../_layouts/details.njk' %}

{% block description %}
    <p>I helped the Manhattan Toy Co. bring their Wee Baby Stella customized doll experience to life.</p>
    <p>The result was a fully-responsive experience allowed for dolls that matched its owners&rsquo; needs</p>
    <p>
      <a href="https://www.manhattantoy.com/products/create-your-own-wee-baby-stella-doll?variant=12606471077973">View experience</a>
    </p>
    <p>

    </p>
{% endblock %}


{% stylesheet 'scss' %}
  $accent: #d9ae87;
  @import 'global';
  @import 'mixins';
  @import 'details';
  
  .grid {
    .box {
      min-height:250px;
    }
    div.box--image {
      @include half-text-height();
    }
  }
{% endstylesheet %}