---
label: Doll Creator
sublabel: Manhattan Toy Co.
isDoubleHeight: true
---

{% extends '../_layouts/details.njk' %}

{% block description %}
    <p>I helped the Manhattan Toy Co. bring their Wee Baby Stella Customized Doll Experience to life which helped users in creating a doll matching their specific needs.</p>
    <p>The result was a fully-responsive experience allowed for dolls that matched its owners&rsquo; needs</p>
    <p>
      <a href="https://www.manhattantoy.com/products/create-your-own-wee-baby-stella-doll?variant=12606471077973">View experience</a>
    </p>
    <p>

    </p>
{% endblock %}


{% stylesheet 'scss' %}
  $accent: #d9ae87;
  @import 'global';
  @import 'mixins';
  @import 'details';

  .grid {
    @include lastImageCentered();
    .box.box--image {
      .bg {
        picture, img {
          object-fit: contain;
        }
        background-color: #FEF2E7;
        picture, img {
          background-color: #FEF2E7;
        }
      }
    }
  }

{% endstylesheet %}