---
label: Blink-182 / Big Boi AR Experience
sublabel: Doritos
---

{% block description %}
    <p>In 2009, I helped develop an augmented reality concert starring Blink-182 & Big Boi.</p>
    <p>When someone bought a bag of Late Night Doritos, they'd go to the Doritos site, point their webcam at the bag & let the show begin.</p>
    <p>
        <a href='https://www.flickr.com/photos/meandmybadself/albums/72157617183850317'>The experience was filmed on a greenscreen soundstage in Culver City</a>, with a camera mounted on the ceiling, capturing the musicians' movements from the top for motion-tracking.</p>
    <p>We composited the musicians onto a single texture layer & built the rest of the environment from scratch.</p>
    <p>The final experience was built with Flash & Papervision (does anyone remember Papervision?)</p>
{% endblock %}