---
label: Eureka Innovation Lab
sublabel: Levi's
---

{% extends '../_layouts/details.njk' %}

{% block description %}
<p>
    When our intelligent friends @ AKQA needed help building a site exploring the Levi&rsquo;s Eureka Innovation Lab, they sent us a
    fax.
</p>
<p>
    What resulted was a responsive site that let the public get a first-person view inside Levi&rsquo;s unique research & development
    space in Eureka, California.
</p>
<p>
    <a href="https://levis.prmr.ec">View archived site</a>
</p>
{% endblock %}

{% block attribution %}
    <p>Thanks to Max Thorson for his development assistance on this project.</p>
{% endblock %}

{% stylesheet 'scss' %}
  $accent: #4259a1;
  @import 'global';
  @import 'mixins';
  @import 'details';

  @include lastImageCentered();

{% endstylesheet %}