---
label: Flagship Site
sublabel: The New Wheel
---

{% extends '../_layouts/details.njk' %}

{% block description %}
  <p>I added a new coat of paint to The New Wheel mothership, visually integrating its website, <a href='https://blog.newwheel.net/'>Tumblr blog</a>, scheduling system, inventory management system and knowledge base under a new visual direction.</p>
  <p>
    <a href='https://thenewwheel.net'>The New Wheel</a>
  </p>

{% endblock %}

{% stylesheet 'scss' %}
  $accent: #9e191b;
  @import 'global';
  @import 'details';
  .grid {
    @include topAlignImage();
    @include lastImageCentered();
  }
{% endstylesheet %}
