---
label: Flagship Site
sublabel: The New Wheel
---

{% block description %}
    <p>We added a new coat of paint to The New Wheel mothership, visually integrating its website, <a href='https://blog.newwheel.net/'>Tumblr blog</a>, scheduling system, inventory management system and knowledge base under a new visual direction.</p>
{% endblock %}