---
label: Select Stylist
sublabel: Regency Beauty
hasAttribution: true
---

{% extends '../_layouts/details.njk' %}

{% block description %}
  <p>Select Stylist was built to test a hypothesis:</p>
  <p>
    <i>Could we use a variety of factors to find customers a better hair styling experience?</i>
  </p>
  <p>We surveyed stylists on their self-perceived hair styling experiences &amp; compared that against customers' ideal experience.</p>
  <p>The site was designed & developed as a mobile-first experience &amp; ran from 2015-2019.</p>
  <p>
    <a href='https://selectstylist.meandmybadself.com'>Check out the archived experience</a>
  </p>
{% endblock %}

{% block attribution %}
  <p class='mb-5'>This site was designed by the incredibly talented <a href='https://rovenbashier.com/'>Roven Bashier</a>
  </p>
{% endblock %}

{% stylesheet 'scss' %}
  $accent: #FF5857;
  @import 'global';
  @import 'mixins';
  @import 'details';

  .grid.grid--details {
    .box.box--masthead {
      min-height: 575px;
    }
    @include skinnyImages(2);
  }

{% endstylesheet %}
