{% extends '../_layouts/work-header.njk' %}

{% block description %}
    <p>To assist guests in finding items in stores being remodeled, Target pulled out all the stops.</p>
    <p>One of the stops was standing up an SMS-based store search, which allowed users without the Target application to find items in
        the store.</p>
    <p>The service ran for 8 months in 47 stores and sent/received over 500,000 messages.</p>
    <p>Thanks to Scott Vehrenkamp for the NLP assistance.</p>
{% endblock %}

