---
label: BetamaXmas
sublabel: 
---

{% block description %}
    <p>
          Betamaxmas lets you watch holiday television from the 1980&rsquo;s in the basement. The site stemmed from an idea of{' '}
          <i>
            <b>"what if Tivo could provide VoD going back into the 80&rsquo;s?"</b>
        </i>
          .
        </p>
    <p>I built it in 2005 using Flash & PHP, because that&rsquo;s what people used to build websites with in ancient times.</p>
    <p>In 2013, it got a facelift to responsive HTML and JavaScript. Betamaxmas was featured by:</p>
    <ul>
        <li>The Onion&rsquo;s Best Things of the Week list</li>
        <li>the Atlantic</li>
        <li>Laughing Squid</li>
        <li>Gawker</li>
        <li>and a text message from my mom&rsquo;s friend, Vicky.</li>
    </ul>
    <p>
        <a href="https://betamaxmas.com">Journey to Betamaxmas</a>
    </p>

{% endblock %}