---
label: BetamaXmas
sublabel: 
---

{% extends '../_layouts/details.njk' %}

{% block description %}
  <p>Betamaxmas lets you watch holiday television from the 1980&rsquo;s in the basement. The site stemmed from an idea of
    <i><b>"what if Tivo could provide VoD going back into the 80&rsquo;s?"</b></i>.
  </p>
  <p>I built it in 2005 using Flash & PHP, because that&rsquo;s what people used to build websites with in ancient times.</p>
  <p>In 2013, it got a facelift to responsive HTML and JavaScript. Betamaxmas was featured by:</p>
  <ul>
    <li>The Onion&rsquo;s Best Things of the Week list</li>
    <li>the Atlantic</li>
    <li>Laughing Squid</li>
    <li>Gawker</li>
    <li>and a text message from my mom&rsquo;s friend, Vicky.</li>
  </ul>
  <p>
    <a href="https://betamaxmas.com">Journey to Betamaxmas</a>
  </p>

{% endblock %}

{% stylesheet 'scss' %}

  $accent: #4b1404;
  @import 'global';
  @import 'work';

  .box {
    min-height:350px;

    &--image {
      img {
        object-position: center top;
      }
    }
    &:nth-child(3) {
      grid-area: 4/1/5/3;
    }
    &:nth-child(4) {
      grid-area: 4/3/5/5;
      img,picture {
        object-position: bottom center;
      }
    }
    &:nth-child(5) {
      grid-area: 5/2/6/4;
      img,picture {
        object-position: bottom right;
      }
    }
  }
{% endstylesheet %}