---
label: 
sublabel: 
---

{% block description %}
    <p>
          To celebrate the election of Joe Biden, I built a 4 foot tall countdown clock displaying the number of days until the inauguration
          and hung it in my home office window.
        </p>
        <p>And with 13 days remaining in the countdown, someone shot at it, and we took it down.</p>
{% endblock %}