---
label: Inauguration Countdown
sublabel: 
hasAttribution: true
---

{% extends '../_layouts/details.njk' %}

{% block description %}
    <p>To celebrate the election of Joe Biden, I built a 4 foot tall countdown clock displaying the number of days until the inauguration
          and hung it in my home office window.</p>
    <p>And with 13 days remaining in the countdown, someone shot at it, and we took it down.</p>
    <p><a href='https://gist.github.com/Meandmybadself/298632506d3f1b11924c0decf08ca02a'>Source code & parts list.</a></p>
{% endblock %}

{% block attribution %}
    <p>I stole this concept from <a href='https://twitter.com/skrul'>Steve Krulewitz</a>. I learned about it from Daniel Raffel who sent it my way. I learned about logic level shifting from the crew at <a href='/projects/minnecrapolis'>Minnecrapolis</a> &amp; David Middlecamp.</p>
{% endblock %}

{% stylesheet 'scss' %}

  $accent: #d42134;
  @import 'global';
  @import 'mixins';
  @import 'details';

  @include lastImageCentered();
  
{% endstylesheet %}