---
label: Episogood
sublabel: 
hasAttribution: true
---

{% extends '../_layouts/details.njk' %}

{% block description %}
  <p>The social layer of podcast is broken because the podcatcher market is incredibly fragmented.</p>
  <p>Episogood provides a compatibility layer for podcatchers, allowing friends to share episodes with friends agnostic of podcatcher choice.</p>
  <p>Join today at <a href='https://episogood.com'>Episogood</a></p>
{% endblock %}

{% block attribution %}
  <p>Episogood has been a labor of love with help from:</p>
  <ul>
    <li>
      <a href='https://davidpett.com'>David Pett</a>
    </li>
    <li>
      <a href='https://typemachine.com'>Tim Drabandt</a>
    </li>
  </ul>
  <p>And additional thanks for help in navigating the podcast data world go to <a href='https://nathangathright.com'>Nathan Gathright</a>.</p>
{% endblock %}

{% stylesheet 'scss' %}

  $accent: #d42134;

  @import 'global';
  @import 'details';
  
  .grid {
    .box {
      min-height:300px;
      &--masthead {
        grid-area: 1/1/3/5;
      }
      &--text:nth-child(2) {
        grid-area: 3/2/4/4;
      }
      &--text:nth-child(3) {
        grid-area: 4/2/5/4;
      }
      &:nth-child(4) {
        grid-area: 5/1/6/3;
        picture,img {
          object-fit: contain;
        }
      }
      &:nth-child(5) {
        grid-area: 5/3/6/5;
        img,picture {
          object-fit: contain;
        }
      }
    }
  }

{% endstylesheet %}