---
label: Episogood
sublabel: 
---

{% block description %}
      <p>The social layer of podcast is broken because the podcatcher market is incredibly fragmented.</p>
        <p>
          Episogood provides a compatibility layer for podcatchers, allowing friends to share episodes with friends agnostic of podcatcher
          choice.
        </p>
        <p>
          Join today at <a href='https://episogood.com'>Episogood</a>
        </p>
{% endblock %}

{% block attribution %}
 <p>Episogood has been a labor of love with help from:</p>
<ul>
<li><a href='https://davidpett.com'>David Pett</a></li>
<li><a href='https://typemachine.com'>Tim Drabandt</a></li>
</ul>
<p>And additional thanks for help in navigating the podcast data world go to <a href='https://nathangathright.com'>Nathan Gathright</a>.</p>
{% endblock %}