---
label: Faces
sublabel: 
---

{% block description %}
     <p>Who doesn&rsquo;t love a gigantic posterboard illustration of themselves posted prominently in a semi-public area?</p>
        <p>Thank you to all who un-willingly participated. This is one of the highest honors one can receive.</p>
{% endblock %}