---
label: Pins
sublabel: 
---

{% block description %}
    <p>I&rsquo;ve wanted a pin-making machine since I was in junior high. Turns out, they&rsquo;re relatively inexpensive.</p>
    <p>Owning a pin maker provides a great opportunity to make super-ephemeral statements.</p>
{% endblock %}