---
label: Social Cereal
sublabel:
---

{% extends '../_layouts/details.njk' %}

{% block description %}
    <p>A good data visualization should be able to clearly communicate the given state of a system. This one shows how many mentions a certain cereal received on Twitter in the past 24 hours in 3D.</p>
    <p>
        <a href="https://cereal.social">Visit Social Cereal</a>
    </p>
{% endblock %}

{% stylesheet 'scss' %}
  $accent: #0066BC;
  @import 'global';
  @import 'details';
  .grid {
    @include skinnyImages(2);
    .box {
      &--image {
        img {
          object-position: top center;
        }
      }
    }
  }

{% endstylesheet %}