---
label: Social Cereal
sublabel:
---

{% extends '../_layouts/details.njk' %}

{% block description %}
  <p>Today's Bestest watches for Twitter users mentioning the best thing they've seen all day.</p>
  <p>With all the vitriol on social media, it felt necessary to elevate the nicer stuff.</p>
{% endblock %}

{% stylesheet 'scss' %}
  $accent: #00CAE7;
  @import 'global';
  @import 'details';

{% endstylesheet %}
