---
label: T-Shirt Machine
sublabel:
---

{% extends '../_layouts/details.njk' %}

{% block description %}
    <p>The physical interface for the shirt maker consists of laser-cut and bent steel around a hand-built walnut wooden frame. The unit houses an <a href="https://www.arduino.cc/en/Guide/Introduction" target="_blank"><span>Arduino</span> <span>Mega</span></a> which interfaces with the 17 rotary encoders, 10 digit keypad and momentary push button. Die-cut vinyl decals adhered to the steel face provide a label to each control on the interface.</p>
    <p>The digital interface is a <a href="https://libcinder.org" target="_blank"><span>Cinder</span></a> application which communicates with the Arduino to change the design parameters on the screen and update the shirt preview. A Node-based web service handles initial user design submissions and automates submitting shirt orders with <a href="https://www.theprintful.com" target="_blank"><span>Printful</span></a>.</p>
{% endblock %}

{% stylesheet 'scss' %}
  $accent: #583121;
  @import 'global';
  @import 'mixins';
  @import 'details';
  @include lastImageCentered();
  .grid {
    
  }

{% endstylesheet %}